@import 'nib'
@import 'mixins'

widget-radius = 2px
header-height = 30px

body {
  color: #666666;
}

.x-pull-right
  float right !important

.x-pull-left
  float left !important

.x-widgets-container 

  line-height 16px

  .x-widget 
    float left
    min-width 250px
    min-height 210px
    margin 0
    padding 0
    /*background rgba(0, 0, 0, 0.1)*/
    overflow hidden

    &:hover .x-tools
      opacity 1

  .x-panel
    border 1px solid
    .x-panel-header
      padding 0 !important
      margin -1px -1px -1px
      box-sizing content-box


  .x-panel-default
    panel-style(#ccc, #888, rgba(255, 255, 255, 0.7), #ccc, widget-radius)
    .x-tools
      color #555

  .x-panel-selected
    panel-style(#454545, rgba(255, 255, 255, 0.9), #2b2b2b, #454545, widget-radius)
    .x-tools
      color #eee

  .x-panel-header
    position absolute
    padding 0
    margin 0
    width 100%
    height header-height
    top 0
    z-index 10
    /*transition all 0.3s*/
    cursor default

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
      float left
      margin 8px 0 8px 11px
      line-height 14px
      font-size 12px
      text-overflow ellipsis
      text-shadow none
      /*transition all 0.3s*/
    
    .x-tools
      margin-top 6px
      margin-right 8px
      font-size 10px
      opacity 0.3

      .x-tool
        margin-left 5px
        font-size 14px
        cursor pointer

  .x-panel-body
    height 100%


@media screen and (max-width: 480px)
  .x-widgets-container
    .x-widget
      margin-bottom 20px

