panel-style(border, header-text-color, header-bg-color, header-border, radius = 2px)
  border-color border
  border-radius radius
  & > .x-panel-header
    color header-text-color
    background-color header-bg-color
    border 1px
    border-style solid
    border-color header-border
    border-top-left-radius radius
    border-top-right-radius radius

    + .x-panel-collapse .x-panel-body
      border-top-color border

    & > .dropdown .caret
      border-color header-text-color transparent

  & > .x-panel-footer
    + .x-panel-collapse .x-panel-body
      border-bottom-color border
